<main>
    <div class="row">
        <app-product-description></app-product-description>
    </div>

    <div class="row">
        <div class="col-sv-8">
            <div class="row tracking">
                <ul>
                    <li>
                        <div class="col-sn-3">
                            <span class="track-number">1</span>
                            <span class="track-name">The last</span>
                        </div>
                        <div class="col-sn-3 text=right">
                            <span class="track-time"></span>
                            <span class="price-and-buy"><button>$8.99</button></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
